footer{
  padding: 10px 0;
  background-color: #101010;
  color: #9d9d9d;
  bottom: 0;
  width: 100%;

}
.navbar-header{
  color: aliceblue;
}
.box-lower-section{
  text-align: center;
}
#heading{
  padding: 20px;
  text-align: center;
}